<?xml version="1.0" encoding="UTF-8"?>
<launch>
        <!-- overwriting these args -->
        <arg name="debug" default="false" />
        <arg name="gui" default="true" />
        <arg name="pause" default="false" />
        <arg name="world" default="$(find flipkart_simulations)/world/mini_world.world" />

        <include file="$(find gazebo_ros)/launch/empty_world.launch">
                <arg name="world_name" value="$(arg world)" />
                <arg name="debug" value="$(arg debug)" />
                <arg name="gui" value="$(arg gui)" />
                <arg name="paused" value="$(arg pause)" />
                <arg name="use_sim_time" value="true" />
        </include>
        <!-- <node args="-param robot_description -urdf -model bot" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/> -->
        <group ns = "robot1">
                <param name="tf_prefix" value="robot1_tf" />
                <include file="$(find flipkart_simulations)/launch/bot.launch">
                        <arg name="init_pose" value="-x 1 -y 1 -z 0" />
                        <arg name="robot_name" value="robot1" />
                </include>
        </group>
        <group ns = "robot2">
                <param name="tf_prefix" value="robot2_tf" />
                <include file="$(find flipkart_simulations)/launch/bot.launch">
                        <arg name="init_pose" value="-x 2 -y 2 -z 0" />
                        <arg name="robot_name" value="robot2" />
                </include>
        </group>
                <group ns = "robot3">
                <param name="tf_prefix" value="robot3_tf" />
                <include file="$(find flipkart_simulations)/launch/bot.launch">
                        <arg name="init_pose" value="-x 2 -y 2 -z 0" />
                        <arg name="robot_name" value="robot3" />
                </include>
        </group>
                <group ns = "robot4">
                <param name="tf_prefix" value="robot4_tf" />
                <include file="$(find flipkart_simulations)/launch/bot.launch">
                        <arg name="init_pose" value="-x 2 -y 2 -z 0" />
                        <arg name="robot_name" value="robot4" />
                </include>
        </group>

</launch>
