<launch>
     <arg name="image_width" default="1920" /> <!-- 640, 1920 -->
    <arg name="image_height" default="1080" /> <!-- 480, 1080 -->
 <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/video2" />
    <param name="image_width" value="$(arg image_width)" />
    <param name="image_height" value="$(arg image_height)" />
    <param name="pixel_format" value="yuyv" />
    <param name="framerate" value="60" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
</launch>
