<launch>
    <node pkg="flipkart_hw" type="tf2Pose1.py" name="flipbot_tf_listener_1" output="screen" />
    <node pkg="flipkart_hw" type="tf2Pose2.py" name="flipbot_tf_listener_2" output="screen" />
    <node pkg="flipkart_hw" type="tf2Pose3.py" name="flipbot_tf_listener_3" output="screen" />
    <node pkg="flipkart_hw" type="tf2Pose4.py" name="flipbot_tf_listener_4" output="screen" />
</launch>